body {
    background-color: aqua;
    margin: 0;
}

div {
    
}

#div1 {
    background-color: orange;
    height: 15vh;

}
#div2 {
    background-color: red;
    height: 85vh;
    width: 10vw;
    float: left;
}
#div3 {
    background-color: green;
    height: 85vh;
    width: 50vw;
    float: left;
}

.div2-menu {
    background-color: yellow;
    height: 5vh;
}

table {
    border: solid black 1px;
    border-collapse: collapse;
}

th {
    background-color: beige;
}

td {
    border: solid black 1px;
    
}